<h1><%= @contact_info.Name %> is intrested in a painting</h1>
<p>
  Their message is a follows: <br />
  <%= @contact_info.Message %>
</p>
<p>
  The potential client can be reached at:
</p>
<table>
  <tr>
    <td>Phone:</td>
    <td><%= @contact_info.PhoneNumber %></td>
  </tr>
  <tr>
    <td>Email:</td>
    <td><%= @contact_info.Email %></td>
  </tr>
</table>

